.panel {
  box-shadow: $box-shadow;
  .panel-header {
    padding: 10px 24px;

    h4 {
      font-weight: 200;
    }
  }

  .panel-content {
    padding: 24px;
    margin: 0;

    @include media-breakpoint-down(sm) {
      padding: 15px;
    }
  }
}
