.tab-menu {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  &__header {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    position: relative;
    font-weight: 400;
  }

  &__header-indicator {
    transition: left ease 0.3s, width ease 0.4s;
    display: block;
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
