.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-screen-full {
  width: 0.8748779296875em;
}

.icon-trash-o {
  width: 0.7857142857142857em;
}

.icon-file-o {
  width: 0.8571428571428571em;
}

.icon-image {
  width: 1.0714285714285714em;
}

.icon-edit {
  width: 0.8454285714285714em;
}

.icon-play {
  width: 0.7896428571428571em;
}

.icon-chevron-left {
  width: 0.75em;
}

.icon-chevron-right {
  width: 0.6785714285714285em;
}

.icon-calendar {
  width: 0.9285714285714285em;
}

.icon-square-o {
  width: 0.7857142857142857em;
}

.icon-square {
  width: 0.8571428571428571em;
}

.icon-file-text-o {
  width: 0.8571428571428571em;
}

.icon-hospital {
  width: 0.7857142857142857em;
}

.icon-angle-left {
  width: 0.375em;
}

.icon-angle-right {
  width: 0.33928571428571425em;
}

.icon-angle-up {
  width: 0.6428571428571428em;
}

.icon-angle-down {
  width: 0.6428571428571428em;
}

.icon-circle-o {
  width: 0.8571428571428571em;
}

.icon-circle {
  width: 0.8571428571428571em;
}

.icon-long-arrow-down {
  width: 0.42857142857142855em;
}

.icon-long-arrow-up {
  width: 0.42857142857142855em;
}

.icon-long-arrow-left {
  width: 1.0357142857142856em;
}

.icon-long-arrow-right {
  width: 0.9642857142857142em;
}

.icon-file-pdf-o {
  width: 0.8571428571428571em;
}

.icon-file-word-o {
  width: 0.8571428571428571em;
}

.icon-file-excel-o {
  width: 0.8571428571428571em;
}

.icon-file-powerpoint-o {
  width: 0.8571428571428571em;
}

.icon-file-image-o {
  width: 0.8571428571428571em;
}

.icon-file-archive-o {
  width: 0.8571428571428571em;
}

.icon-file-audio-o {
  width: 0.8571428571428571em;
}

.icon-file-movie-o {
  width: 0.8571428571428571em;
}

.icon-at {
  width: 0.8571428571428571em;
}
