.bottom-navbar {
  $self: &;

  position: fixed;
  bottom: 0;
  transition: bottom 0.2s;
  width: 100%;
  z-index: $z-bottom-navbar;
  height: $bottom-navbar-height;

  &--hiden {
    bottom: -$bottom-navbar-height;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;

    li {
      width: 100%;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;

        svg {
          font-size: 2rem;
          margin: 0 auto;
          opacity: 0.8;
        }

        span {
          margin-top: -5px;
          height: 18px;
        }
      }
    }
  }

  &__icon-only {
    font-size: 2.6rem !important;
  }
}
