@mixin collapsed($collapsedTime: null) {
  max-height: 0;
  height: auto;

  @if ($collapsedTime) {
    transition: max-height $collapsedTime cubic-bezier(0, 1, 0, 1);
  } @else {
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  }

  &:not(.shown) {
    overflow-y: hidden;
  }
}

@mixin expanded() {
  max-height: 1000px;
  transition: max-height 0.5s ease-in-out;
}

@mixin expand-collapse($child: null, $collapsedTime: null) {
  @if ($child) {
    .#{$child} {
      @include collapsed($collapsedTime);
    }
  } @else {
    @include collapsed($collapsedTime);
  }

  &.shown {
    @if ($child) {
      .#{$child} {
        @include expanded;
      }
    } @else {
      @include expanded;
    }
  }
}

@mixin scale-ease() {
  transform: scale(0) !important;
  transform-origin: top center;
  transition: transform ease 0.2s;
  will-change: transform;

  &.show {
    transform: scale(1) !important;
  }
}
