.checkbox {
  $self: &;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 26px;
  min-height: 36px;
  line-height: 1;
  position: relative;

  &__label {
    margin-bottom: 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity $layout-transitions-duration;

    &--disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &__wrapper {
    position: absolute;
    width: 16px;
    height: 16px;
    display: inline-block;
    left: 0;
    top: -5px;

    input[type='checkbox'] {
      width: 0;
      height: 0;
      opacity: 0;
    }

    #{ $self }__checker {
      width: 16px;
      height: 16px;
      border-radius: $border-radius;
      border: 1px solid fetchColorLighten(dark, 60);
      transition: background $layout-transitions-duration;

      &-checked-tick {
        position: absolute;
        opacity: 0;
        left: 5px;
        width: 6px;
        height: 10px;
        border: solid;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg) scale(0.85);
        transition: opacity $layout-transitions-duration;

        &--shown {
          opacity: 1;
        }
      }

      &-checked-indeterminate {
        position: absolute;
        opacity: 0;
        left: 4px;
        width: 8px;
        height: 8px;
        border: solid;
        border-width: 0 0 2px;
        transform: rotate(0deg) scale(1);
        transition: opacity $layout-transitions-duration;

        &--shown {
          opacity: 1;
        }
      }
    }
  }
}
