.pagination {
  $self: &;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;

  &__page-link {
    position: relative;
    z-index: 2;
    transition: all ease 0.5s;
    border: 0;
    border-radius: 5px;
    background-color: transparent;

    &:focus {
      box-shadow: none;
    }
  }

  &--sm {
    margin: 10px 0;

    #{ $self }__page-link {
      font-size: 1.2rem;
      margin: 0 6px;
      padding: 6px 12px;
    }
  }

  &--md {
    margin: 15px 0;

    #{ $self }__page-link {
      font-size: 1.5rem;
      margin: 0 8px;
      padding: 8px 14px;
    }
  }

  &--lg {
    margin: 20px 0;

    #{ $self }__page-link {
      font-size: 1.8rem;
      margin: 0 10px;
      padding: 6px 14px;
    }
  }
}
