.demo-menu {
  background-color: $secondary-color;
  color: $secondary-alt-color;
  width: 230px;

  ul {
    padding-left: 0;

    li {
      list-style: none;
      padding: 6px 16px;

      &.group-title {
        font-weight: 600;
      }

      &.active {
        border-right: 5px solid $primary-color;
        font-weight: 400;

        a {
          color: $primary-color;
        }
      }

      a {
        color: $secondary-alt-color;

        &:hover {
          color: $primary-color !important;
          cursor: pointer;
        }
      }
    }
  }

  .demo-menu__rootmenu {
    margin-top: 24px;
  }

  .demo-menu__submenu {
    padding: 0 16px;
  }

  .demo-menu__submenu-list {
    @include expand-collapse(null, 0.2s);
    overflow: hidden;
  }
}
