@import './colors';
html {
  font-size: $font-size-html;
}

body {
  color: fetchColor(body, alt);
  font-family: $font-primary !important;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 2.6rem;
  margin: 0;
  text-align: left;
}

.fill-all {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.layout-full-screen {
  height: calc(100vh - #{$top-navbar-height});
}

#root {
  height: 100%;
}

.base-container {
  display: flex;
  flex: 1 1;
}

.site-container {
  transform: none;
  background-color: fetchColor(body);
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a {
  cursor: pointer;
  color: fetchColor(secondary);
  font-weight: 400;

  &:hover {
    text-decoration: none;
    color: fetchColor(secondary, alt);
  }

  &.disabled {
    opacity: 0.55;
    pointer-events: none;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

  &.list-disc {
    padding-left: 16px;
    list-style-type: disc;
  }
}

:focus {
  outline: 0;
}

.disabled {
  cursor: not-allowed;

  a {
    pointer-events: none;
  }
}
