$darken-value: 2%;
$lighten-value: 2%;

@function fetchColor($color, $type: base) {
  @each $colorName, $map in $all-colors {
    @if $colorName == $color {
      @return map-get($map, $type);
    }
  }
  @return null;
}

@function fetchColorDarken($color, $darken: $darken-value) {
  @return darken(fetchColor($color), $darken);
}

@function fetchColorLighten($color, $lighten: $lighten-value) {
  @return lighten(fetchColor($color), $lighten);
}

.text {
  @each $colorName, $map in $all-colors {
    &--#{$colorName} {
      color: map-get($map, base) !important;
    }
  }
}

.text-hover {
  @each $colorName, $map in $all-colors {
    &--#{$colorName} {
      &:hover {
        color: map-get($map, base) !important;
      }
    }
  }
}

.text-hover-alt {
  @each $colorName, $map in $all-colors {
    &--#{$colorName} {
      &:hover {
        color: map-get($map, alt) !important;
      }
    }
  }
}

.text-hover-darken {
  @each $colorName, $map in $all-colors {
    &--#{$colorName} {
      &:hover {
        color: darken(map-get($map, base), $darken-value) !important;
      }
    }
  }
}

.text-hover-lighten {
  @each $colorName, $map in $all-colors {
    &--#{$colorName} {
      &:hover {
        color: lighten(map-get($map, base), $darken-value) !important;
      }
    }
  }
}

.bg {
  @each $colorName, $map in $all-colors {
    &--#{$colorName} {
      background-color: map-get($map, base) !important;
      color: map-get($map, alt) !important;
    }
  }
}

.bg-darken {
  @each $colorName, $map in $all-colors {
    &--#{$colorName} {
      background-color: darken(map-get($map, base), $darken-value) !important;
      color: map-get($map, alt) !important;
    }
  }
}

.bg-lighten {
  @each $colorName, $map in $all-colors {
    &--#{$colorName} {
      background-color: lighten(map-get($map, base), $lighten-value) !important;
      color: map-get($map, alt) !important;
    }
  }
}

.bg-hover {
  @each $colorName, $map in $all-colors {
    &--#{$colorName} {
      &:hover {
        background-color: map-get($map, base) !important;
        color: map-get($map, alt) !important;
      }
    }
  }
}

.bg-hover-darken {
  @each $colorName, $map in $all-colors {
    &--#{$colorName} {
      &:hover {
        background-color: darken(map-get($map, base), $darken-value) !important;
      }
    }
  }
}

.bg-hover-lighten {
  @each $colorName, $map in $all-colors {
    &--#{$colorName} {
      &:hover {
        background-color: lighten(map-get($map, base), $lighten-value) !important;
      }
    }
  }
}

.bg-alt {
  @each $colorName, $map in $all-colors {
    &--#{$colorName} {
      background-color: map-get($map, alt) !important;
      color: map-get($map, base) !important;
    }
  }
}

.border {
  @each $colorName, $map in $all-colors {
    &--#{$colorName} {
      border-color: map-get($map, base) !important;
    }
  }
}

.underline {
  @each $firstColorName, $firstMap in $all-colors {
    &--#{$firstColorName} {
      @each $secondColorName, $secondMap in $all-colors {
        &-#{$secondColorName} {
          background-image: linear-gradient(map-get($secondMap, base), map-get($secondMap, base)),
            linear-gradient(map-get($firstMap, base), map-get($firstMap, base)) !important;
        }
      }
    }
  }
}

.right-line {
  @each $colorName, $map in $all-colors {
    &--#{$colorName} {
      &::after {
        background-color: map-get($map, base) !important;
      }
    }
  }
}
