@import './colors';
.notification {
  background-color: fetchColor(secondary) !important;
  color: fetchColor(secondary, alt) !important;
  border-bottom-width: 2px !important;
  border-bottom-style: solid !important;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.29) !important;

  &--info {
    border-bottom-color: fetchColor(primary) !important;

    button {
      color: fetchColor(primary) !important;
    }
  }
  &--warning {
    border-bottom-color: fetchColor(warning) !important;

    button {
      color: fetchColor(warning) !important;
    }
  }
  &--error {
    border-bottom-color: fetchColor(danger) !important;

    button {
      color: fetchColor(danger) !important;
    }
  }
}
