.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
  opacity: $overlay-opacity;
  width: 100%;
  height: 100%;
  z-index: $z-overlay;
  transition: opacity $layout-transitions-duration ease-in-out, z-index $layout-transitions-duration;

  &--hover {
    opacity: 0;

    &:hover {
      opacity: 0.6;
    }
  }

  &--hidden {
    opacity: 0;
    z-index: -5;
  }
}
