table {
  border: 1px solid #ddd;
  table-layout: auto;
  width: 100%;

  thead {
    background: fetchColor(secondary);
    color: fetchColor(secondary, alt);
  }

  tbody {
    tr {
      td:first-child {
        font-weight: 400;
      }
    }
  }

  th,
  td {
    padding: 16px;
    font-weight: 200;
  }

  tr {
    border-top: 1px solid #ddd;
  }
}
