// font-size
.font-size-8 {
  font-size: 0.8rem !important;
}
.font-size-9 {
  font-size: 0.9rem !important;
}
.font-size-10 {
  font-size: 1rem !important;
}
.font-size-11 {
  font-size: 1.1rem !important;
}
.font-size-12 {
  font-size: 1.2rem !important;
}
.font-size-13 {
  font-size: 1.3rem !important;
}
.font-size-14 {
  font-size: 1.4rem !important;
}
.font-size-15 {
  font-size: 1.5rem !important;
}
.font-size-16 {
  font-size: 1.6rem !important;
}
.font-size-17 {
  font-size: 1.7rem !important;
}
.font-size-18 {
  font-size: 1.8rem !important;
}
.font-size-19 {
  font-size: 1.9rem !important;
}
.font-size-20 {
  font-size: 2rem !important;
}
.font-size-21 {
  font-size: 2.1rem !important;
}
.font-size-22 {
  font-size: 2.2rem !important;
}
