$font-primary: 'Circular Airbnb' !default;
$font-size-html: 10px !default;

$custom-colors: () !default;

// Theme colors
$base-colors: (
  primary: (
    base: #e6c300,
    alt: #002c41
  ),
  secondary: (
    base: #002c41,
    alt: #ffffff
  ),
  alternative: (
    base: #6bd718,
    alt: #002c41
  ),
  body: (
    base: #f5f5f5,
    alt: #484848
  ),
  success: (
    base: #28a745,
    alt: #ffffff
  ),
  danger: (
    base: #d2372c,
    alt: #ffffff
  ),
  warning: (
    base: #eb8c00,
    alt: #000000
  ),
  light: (
    base: #e2e6ea,
    alt: #000000
  ),
  dark: (
    base: #343a40,
    alt: #ffffff
  ),
  white: (
    base: #ffffff,
    alt: #343a40
  ),
  black: (
    base: #000000,
    alt: #ffffff
  ),
  transparent: (
    base: transparent,
    alt: inherit
  )
) !default;

$all-colors: map-merge($base-colors, $custom-colors);

// z-index

$z-dropdown: 10 !default;
$z-overlay: 100 !default;
$z-bottom-navbar: 150 !default;
$z-top-navbar: 200 !default;
$z-side-navbar: 300 !default;
$z-tooltip: 500 !default;
$z-side-color-picker: 1000 !default;
$z-toastr-wrapper: 1050 !default;

// Layout
$top-navbar-height: 56px !default;
$side-navbar-width: 230px !default;
$side-navbar-width-collapsed: 70px !default;
$bottom-navbar-height: 56px !default;
$layout-transitions-duration: 0.2s !default;
$overlay-opacity: 0.75 !default;
$overlay-color: rgba(#343a40, $overlay-opacity) !default;

// Radius
$border-radius: 3px !default;

// Box shadow
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !default;
