.toggle {
  $self: &;

  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: fetchColorLighten(dark, 65);
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in-out, width 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, width 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &--disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &--lg {
    height: 30px;
    min-width: 55px;
    border-radius: 15px;

    #{ $self }__inner {
      margin-left: 30px;
      margin-right: 10px;
      padding-left: 5px;
      height: 30px;
      line-height: 2.14285714;
      font-size: 14px;

      &--checked {
        margin-right: 30px;
        margin-left: 10px;
        padding-left: 0;
        padding-right: 5px;
      }
    }

    #{ $self }__circle {
      width: 22px;
      height: 22px;
      left: 4px;
      top: 4px;
      border-radius: 11px;

      &--checked {
        left: 100%;
        margin-left: -26px;
      }
    }
  }

  &--md {
    height: 24px;
    min-width: 44px;
    border-radius: 12px;

    #{ $self }__inner {
      margin-left: 24px;
      margin-right: 8px;
      padding-left: 3px;
      height: 24px;
      line-height: 2;
      font-size: 12px;

      &--checked {
        margin-right: 24px;
        margin-left: 8px;
        padding-left: 0;
        padding-right: 3px;
      }
    }

    #{ $self }__circle {
      width: 18px;
      height: 18px;
      left: 3px;
      top: 3px;
      border-radius: 9px;

      &--checked {
        left: 100%;
        margin-left: -21px;
      }
    }
  }

  &--sm {
    height: 14px;
    min-width: 26px;
    border-radius: 7px;

    #{ $self }__inner {
      margin-left: 14px;
      margin-right: 6px;
      padding-left: 2px;
      height: 14px;
      line-height: 1.4;
      font-size: 10px;

      &--checked {
        margin-right: 14px;
        margin-left: 6px;
        padding-left: 0;
        padding-right: 2px;
      }
    }

    #{ $self }__circle {
      width: 10px;
      height: 10px;
      left: 2px;
      top: 2px;
      border-radius: 5px;

      &--checked {
        left: 100%;
        margin-left: -12px;
      }
    }
  }

  &__inner {
    display: block;
    transition: margin $layout-transitions-duration ease-in-out;

    svg {
      padding: 2px;
    }
  }

  &__circle {
    position: absolute;
    cursor: pointer;
    background-color: fetchColor(white);

    transition: left $layout-transitions-duration ease-in-out,
      margin-left $layout-transitions-duration ease-in-out,
      width $layout-transitions-duration ease-in-out;
  }
}
