@mixin hover-error-state {
  outline: none;

  box-shadow: none;
  transition-duration: 0.3s;
}

.input-wrapper {
  position: relative;
}

.input {
  $self: &;

  @include input-underline;
  display: block;
  width: 100%;
  border: 0;
  padding-top: 2px;
  padding-bottom: 4px;

  &--error {
    @include hover-error-state();
    background-size: 100% 1px, 100% 1px;
  }

  &.input-underline-show {
    @include hover-error-state();
    background-size: 100% 2px, 100% 1px;
  }

  &:focus {
    @include hover-error-state();
    background-size: 100% 2px, 100% 1px;
  }

  &::placeholder {
    color: fetchColorLighten(dark, 55);
  }

  &[type='file'] {
    :host(input) {
      width: 0 !important;
      padding: 0 !important;
      border: 0 !important;
    }
  }

  &--with-icon-left {
    padding-left: 30px !important;
  }

  &--with-icon-right {
    padding-right: 30px !important;
  }

  &__extendible {
    max-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(transparent, transparent) !important;

    &#{ $self }__extendible--shown {
      max-width: 100%;
      // background-image: linear-gradient(#e6c300, #e6c300), linear-gradient(#e6c300, #e6c300) !important;
    }

    &#{ $self }__extendible--shown-left {
      animation: revealToLeft 0.3s forwards;
    }

    &#{ $self }__extendible--shown-right {
      animation: revealToRight 0.3s forwards;
    }
  }

  &__icon {
    position: absolute;
    top: 5px;

    &.link {
      top: 2px;
    }
  }

  &__icon--left {
    left: 0;
  }

  &__icon--right {
    right: 0;
  }

  &__clearable-btn {
    @include plain-button;
    position: absolute;
    right: 0;
    top: 2px;
    cursor: pointer;
    opacity: 0.6;

    &:focus {
      outline: none;
    }
  }
}

input[type='file'] {
}
