.btn {
  display: inline-block;
  border-radius: 2px;
  position: relative;
  box-shadow: none !important;
  user-select: none;
  letter-spacing: 0.14px;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: middle;
  overflow: visible;
  cursor: pointer;
  appearance: none !important;
  border: 1px solid transparent;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    outline: none !important;
  }

  .icon {
    vertical-align: middle;
  }

  &--no-button-style {
    padding: 0;
    border: 0;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  &--outline {
    background-color: transparent !important;
  }

  &--circle {
    border-radius: 50%;

    &-sm {
      width: 24px;
      height: 24px;
    }

    &-md {
      width: 32px;
      height: 32px;
    }

    &-lg {
      width: 40px;
      height: 40px;
    }
  }

  &--sm {
    padding: 3px 10px;
    font-size: 1rem;
  }

  &--md {
    padding: 5px 20px;
    font-size: 1.2rem;
  }

  &--lg {
    padding: 8px 30px;
    font-size: 1.4rem;
  }
}

.link {
  &--sm {
    font-size: 1.3rem;
  }

  &--md {
    font-size: 1.5rem;
  }

  &--lg {
    font-size: 1.7rem;
  }
}
