.selector {
  // position: relative;

  &__button {
    @include input-underline;
    padding: 2px 0 4px !important;
    border: 0;
    text-align: left;
    font-size: inherit;
    line-height: inherit;
  }

  .select-wrapper {
    position: relative;
    margin-top: 30px;
    select {
      @include input-underline;
      width: 100%;
      border: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
      font-size: 1.4rem;
      color: fetchColor(body);

      &:focus {
        outline: none;
      }
    }
  }

  .selector-icon {
    position: absolute;
    right: 0;
    font-size: 1.5rem !important;
    margin-right: 1rem;
  }

  .selector-menu {
    @include scale-ease;
    position: absolute;
    z-index: 1000;
    min-width: 100%;
    box-sizing: border-box;
    background-color: fetchColor(white);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    .selector-searchbox {
      padding: 4px 8px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 8px 20px;
          line-height: 1.42857;
          zoom: 0.9;

          &.focused,
          &:hover {
            background-color: #eee;
            color: inherit;
          }

          &.selected {
            // @include background-color(secondary);
          }
        }
      }
    }
  }
}
