.slider {
  $self: &;

  padding: 10px 10px 0;

  &--with-marks {
    margin-bottom: 26px;
  }

  &__container {
    position: relative;
  }

  &__bar {
    height: 6px;
    border-radius: 3px;
    cursor: pointer;
  }

  &__bar-progress {
    position: absolute;
    height: 6px;
    border-radius: 3px 0 0 3px;
  }

  &__handle {
    position: absolute;
    top: -50%;
    margin-left: -6px;
  }

  &__handle-circle {
    width: 12px;
    height: 12px;
    margin-left: -1px;
    border-radius: 50%;
    border: 2px solid #000;
    cursor: pointer;
    transition: box-shadow $layout-transitions-duration ease-in-out,
      background-color $layout-transitions-duration ease-in-out,
      transform $layout-transitions-duration ease-in-out;

    &--active {
      transform: scale(1.2);
    }
  }

  &__tooltip {
    position: absolute;
    display: none;
    opacity: 0;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    cursor: initial;
    transition: opacity $layout-transitions-duration;

    &--shown {
      display: block;
      opacity: 1;
      transition: opacity $layout-transitions-duration;
    }
  }

  &__graduator {
    ul {
      display: flex;
      padding-left: 0;
      width: 100%;
      list-style: none;
    }
  }

  &__graduator-step {
    flex: 1 1 1%;
    position: relative;
    list-style: none;
  }

  &__graduator-step-point {
    position: absolute;
    top: -1px;
    margin-left: -5px;

    &--last {
      right: -4px;
    }
  }

  &__graduator-step-point-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #000;
    transition: border-color $layout-transitions-duration ease-in;
  }

  &__graduator-mark {
    position: absolute;
    top: 10px;
    left: -2px;
    font-size: 1.2rem;
    white-space: nowrap;

    &--last {
      left: auto;
      right: -2px;

      #{ $self }__graduator-mark-content {
        margin-left: auto;
        margin-right: -50%;
      }
    }
  }

  &__graduator-mark-content {
    margin-left: -50%;
  }
}
