.badge {
  &--sm {
    padding: 3px 6px;
    font-size: 1rem;
  }

  &--md {
    padding: 4px 7px;
    font-size: 1.1rem;
  }

  &--lg {
    padding: 6px 9px;
    font-size: 1.2rem;
  }

  &--with-border {
    border: 1px solid fetchColor(white);
  }
}
