.color-selector {
  &__overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 900;
  }

  .chrome-picker {
    position: absolute !important;
    top: 40px;
    z-index: $z-side-color-picker;

    &.hidden {
      display: none;
      opacity: 0;
    }

    input {
      font-family: $font-primary !important;
    }

    .saturation-white {
      cursor: pointer;
    }
  }
}
