.dropdown {
  .dropdown-menu {
    @include expand-collapse();
    padding: 0;
    overflow: hidden;
    min-width: 100%;
    display: block;
    font-size: 1.4rem;
    background-color: transparent;
    border-radius: $border-radius;
    border: none;
    z-index: $z-dropdown;

    &--arrow {
      &::after {
        border: solid transparent;
        bottom: 100%;
        content: '';
        height: 0;
        left: 16px;
        pointer-events: none;
        position: absolute;
        width: 0;
      }

      &::after {
        border-bottom-color: fetchColor(secondary);
        border-width: 8px;
        margin-left: -8px;
      }
    }

    a {
      color: fetchColor(secondary, alt) !important;
    }

    .dropdown-menu-element {
      &:not(:last-child) {
        border-bottom: 1px solid lighten(fetchColor(secondary), 5);
      }
    }
  }
}
