.collapsible-heading {
  &__content {
    @include expand-collapse;
  }

  &__toggle {
    margin-top: -0.5rem;
  }

  &__icon {
    transform: rotate(180deg);
    transition: all ease 0.2s;
    &--open {
      transform: rotate(0);
    }
  }
}
