@import './components/code-highlight/code-highlight';
@import './components/demo-menu/demo-menu';
@import './components/demo-element/demo-element';
@import './components/demo-props-table/demo-props-table';
@import './components/demo-sections-menu/demo-sections-menu';
@import './components/options-panel/options-panel';
@import './components/sections-menu/sections-menu';
@import './components/custom-components/custom-components.scss';
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';

.center-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  top: 50%;
  bottom: 50%;
  height: 30px;
}
