.toastr-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &--inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.toastr {
  padding: 15px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  max-width: 300px;
  border-bottom: 4px solid fetchColor(secondary);

  &--shown,
  &--hidden {
    position: absolute;
    bottom: 40px;
    right: 50px;
  }

  &--shown {
    animation-duration: 0.3s;
    animation-name: Toastr;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    pointer-events: all;
  }

  &--hidden {
    animation-name: ToastrFadeOut;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-fill-mode: forwards;
  }

  &.bg--secondary {
    border-bottom-color: fetchColor(secondary, alt);
  }

  &--success {
    border-bottom-color: fetchColor(success) !important;
  }

  &--warning {
    border-bottom-color: fetchColor(warning) !important;
  }

  &--error {
    border-bottom-color: fetchColor(danger) !important;
  }

  .toastr-icon {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  .toastr-title {
    font-weight: $font-weight-normal;
  }

  .toastr-message {
    font-weight: $font-weight-light;
  }
}

@keyframes Toastr {
  from {
    transform: translate3d(400px, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes ToastrFadeOut {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(400px, 0, 0);
    opacity: 0;
  }
}
