.country-label {
  &--sm {
    .country-flag {
      zoom: 0.4;
      margin-right: 15px;
    }
    font-size: 1.2rem;
  }

  &--md {
    .country-flag {
      zoom: 0.45;
      margin-right: 20px;
    }
    font-size: 1.4rem;
  }

  &--lg {
    .country-flag {
      zoom: 0.5;
      margin-right: 25px;
    }
    font-size: 1.6rem;
  }
}
