.collapsible-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__element {
    @include expand-collapse('collapsible-list__element__content');

    margin-bottom: 5px;
    box-shadow: 0 1px 4px 0 hsla(0, 0%, 59.2%, 0.17);

    &.shown {
      .icon-angle-down {
        transform: rotate(90deg);
      }
    }

    &__header {
      font-weight: 400;

      &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > div {
          padding: 6px 20px 6px 20px;
          width: 100%;
        }

        .icon {
          transform: rotate(0);
          transition: all ease 0.2s;
          margin-right: 20px;
        }
      }
    }

    &__content {
      > div {
        padding: 20px;

        @include media-breakpoint-down(sm) {
          padding: 15px;
        }
      }
    }
  }
}
