.radio {
  $self: &;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  min-height: 36px;
  line-height: 1;
  position: relative;

  &__label {
    margin-bottom: 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity $layout-transitions-duration;

    &--disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &__wrapper {
    position: absolute;
    width: 16px;
    height: 16px;
    display: inline-block;
    left: 10px;
    top: -5px;

    input[type='radio'] {
      width: 0;
      height: 0;
      opacity: 0;
    }

    #{ $self }__checker {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid fetchColorLighten(dark, 60);
      transition: background $layout-transitions-duration;

      &-checked-tick {
        position: absolute;
        opacity: 0;
        margin-top: 3px;
        margin-left: 3px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        transition: opacity $layout-transitions-duration;

        &--shown {
          opacity: 1;
        }
      }
    }
  }
}
