.place-selector {
  &__map-container {
    position: relative;
    height: 150px;
    width: 100%;
    margin-top: 10px;
    border-radius: $border-radius;
    border: 3px solid #fff;
  }

  &__modal-btn {
    position: absolute;
    bottom: 20px;
    right: 10px;
  }

  &__modal-map-container {
    width: 100%;
    height: 100%;
  }
}
