.side-navbar {
  $self: &;
  position: fixed;
  overflow-y: auto;
  height: 100%;
  top: $top-navbar-height;
  bottom: 0;
  width: $side-navbar-width;
  z-index: $z-side-navbar;

  @include media-breakpoint-up(md) {
    overflow-y: inherit;
  }

  &--collapsed {
    max-width: $side-navbar-width-collapsed;

    .side-navbar__group-title-link,
    .side-navbar__nav-link {
      padding: 6px 8px;
    }

    .side-navbar__group-title-name {
      width: 100%;
      justify-content: center;
    }

    .side-navbar__group-title-angle {
      position: absolute;
      right: 10px;
    }

    .side-navbar__nav-link__padding-container {
      justify-content: center;
    }

    .side-navbar__collapse-toggle {
      justify-content: center;
      max-width: $side-navbar-width-collapsed;

      span {
        display: none;
      }
    }
  }

  &--full {
    max-width: 100%;
  }

  &--left {
    left: 0;
    transition: left $layout-transitions-duration, max-width $layout-transitions-duration ease;

    &#{ $self }--hidden {
      &#{ $self }--full {
        left: -$side-navbar-width;
      }

      &#{ $self }--collapsed {
        left: -$side-navbar-width-collapsed;
      }
    }
  }

  &--right {
    right: 0;
    transition: right $layout-transitions-duration, max-width $layout-transitions-duration ease;

    &#{ $self }--hidden {
      &#{ $self }--full {
        right: -$side-navbar-width;
      }

      &#{ $self }--collapsed {
        right: -$side-navbar-width-collapsed;
      }
    }
  }

  &__nav-list--main {
    margin-bottom: 60px;
  }

  &__group-title-link,
  &__nav-link {
    display: block;
    padding: 6px 16px;
    font-weight: $font-weight-light;
    border-bottom: 1px solid darken(fetchColor(secondary), 5);

    @include media-breakpoint-up(md) {
      font-weight: $font-weight-normal;
      border-bottom: none;
    }
  }

  &__group-title-link {
    &__arrow {
      transform: rotate(0);
      transition: all ease $layout-transitions-duration;

      &--open {
        transform: rotate(-90deg);
      }
    }
  }

  &__group-title-name {
    height: 26px;
  }

  &__nav-link {
    &__padding-container {
      padding-left: 0;
      transition: padding-left $layout-transitions-duration ease-in;

      &--open {
        transition: padding-left $layout-transitions-duration ease-in;
      }
    }
  }

  &__submenu {
    max-height: 0;
    height: auto;
    transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
    overflow: hidden;
    &--shown {
      max-height: 2000px;
      transition: max-height 0.5s ease-in-out;
    }
  }

  &__collapse-toggle {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 38px;
    width: $side-navbar-width;
    transition: max-width $layout-transitions-duration ease;

    .side-navbar__nav-icon {
      transform: rotate(0);
      transition: all ease $layout-transitions-duration * 2;

      &--collapsed {
        transform: rotate(180deg);
      }
    }
  }
}
