.tooltip-container {
  position: absolute;
  z-index: $z-tooltip;
  opacity: 0;
  transition: opacity $layout-transitions-duration linear,
    transform $layout-transitions-duration ease-out;

  &--in {
    opacity: 1;
    transition: opacity $layout-transitions-duration linear,
      transform $layout-transitions-duration ease-in;
  }
}

.tooltip {
  padding: 2px 10px;
  max-width: 250px;
  font-size: 1.2rem;
  line-height: 1.66666667;
  border-radius: $border-radius;
  overflow-wrap: break-word;
  text-align: center;

  &__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;

    &--top {
      left: 50%;
      bottom: -6px;
      margin-left: -6px;
      border-width: 6px 6px 0;
    }

    &--bottom {
      left: 50%;
      top: -6px;
      margin-left: -6px;
      border-width: 0 6px 6px;
    }

    &--left {
      top: 50%;
      right: -6px;
      margin-top: -6px;
      border-width: 6px 0 6px 6px;
    }

    &--right {
      top: 50%;
      left: -6px;
      margin-top: -6px;
      border-width: 6px 6px 6px 0;
    }
  }
}
