.layout {
  $self: &;
  height: auto;
  min-height: 100vh;

  &--collapsed {
    #{ $self }__page {
      padding-left: $side-navbar-width-collapsed;
    }
  }

  &--hidden {
    #{ $self }__page {
      padding-left: 0;
    }
  }

  &--overlay {
    #{ $self }__page {
      padding-left: 0;
    }
  }

  &--with-bottom-navbar {
    #{ $self }__page {
      padding-bottom: $bottom-navbar-height;
    }
  }

  &__page {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: calc(100vh - #{$top-navbar-height});
    position: relative;
    margin-top: $top-navbar-height;

    &--left {
      padding-left: $side-navbar-width;
      transition: padding-left $layout-transitions-duration;
    }

    &--right {
      padding-right: $side-navbar-width;
      transition: padding-right $layout-transitions-duration;
    }
  }

  &__content {
    flex-grow: 1;
    position: relative;

    .container {
      @include media-breakpoint-up(md) {
        padding-right: 30px;
        padding-left: 30px;
      }

      @include media-breakpoint-up(lg) {
        padding-right: 45px;
        padding-left: 45px;
      }

      @include media-breakpoint-up(xl) {
        padding-right: 70px;
        padding-left: 70px;
      }
    }

    .container-full {
      max-width: none !important;
    }
  }
}
