.loading-spinner {
  position: absolute;
  height: 100%;
  z-index: 100;
  width: 100%;

  &__background {
    height: 100%;
    width: 100%;
  }

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
