.modal {
  position: absolute;
  overflow: auto;
  border-radius: $border-radius;
  outline: none;

  &__overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: $z-overlay;
    background-color: $overlay-color;
  }

  &__fullscreen {
    width: 80%;
    height: 80%;

    .panel {
      height: 100%;

      .panel-content {
        height: 100%;
      }
    }
  }

  &__close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }
}
