.top-navbar {
  position: fixed;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.29);
  border-bottom: 2px solid transparent;
  height: $top-navbar-height;
  width: 100%;
  z-index: $z-top-navbar;
  top: 0;
  transition: top 0.2s;

  &--hiden {
    top: -($top-navbar-height + 5);
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__left {
    > div {
      margin-right: 1.5rem;
    }
  }

  &__right {
    > div {
      margin-left: 1.5rem;
    }
  }

  &__logo {
    margin-right: 10px;
    height: 36px;

    @include media-breakpoint-up(md) {
      height: 40px;
    }
  }

  &__title {
    font-size: 2.4rem;
    display: inline-block;
    font-weight: 200;
    word-spacing: -6px;

    @include media-breakpoint-up(md) {
      font-size: 2.8rem;
    }

    span {
      font-weight: 400;
    }
  }

  &__menu-buttom {
    i {
      font-size: 3.2rem !important;
    }
  }
}
