.demo-element {
  margin-bottom: 40px;

  .demo-element__container {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;

    .demo-element__show {
      padding: 30px 20px;

      &.w-full {
        .jsx-parser {
          > div {
            width: 100%;
          }
        }
      }

      &.w-100 {
        .jsx-parser {
          > div {
            width: 200px;
          }
        }
      }

      &.w-200 {
        .jsx-parser {
          > div {
            width: 200px;
          }
        }
      }

      &.w-250 {
        .jsx-parser {
          > div {
            width: 250px;
          }
        }
      }

      &.w-300 {
        .jsx-parser {
          > div {
            width: 300px;
          }
        }
      }

      &.w-400 {
        .jsx-parser {
          > div {
            width: 400px;
          }
        }
      }

      &.flexColumn {
        .jsx-parser {
          > div {
            display: flex;
            flex-direction: column;
          }
        }
      }

      &.multi {
        .jsx-parser {
          > div {
            :not(:first-child) {
              margin-top: 20px;
            }
          }
        }
      }

      .jsx-parser {
        display: flex;
      }
    }

    .demo-element__action-buttons {
      position: absolute;
      z-index: 1;
      left: 30px;
      bottom: 10px;
    }

    .demo-element__code {
      position: relative;

      .demo-element__buttons {
        position: absolute;
        z-index: 2;
        right: 10px;
        top: -15px;

        .demo-element__btn {
          background-color: #f5f5f5;
          border: 1px solid #ddd;
          font-size: 1.2rem;
          font-weight: 200;
          margin-left: 15px;
        }
      }

      .demo-element__codemirror {
        @include expand-collapse('CodeMirror');

        .demo-element__codemirror__overlay {
          position: absolute;
          overflow: auto;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          z-index: 1;
        }

        .CodeMirror {
          padding: 0 15px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;

          .CodeMirror-lines {
            pointer-events: none;
          }

          .cm-tag {
            color: #5ed663;
          }

          .cm-error {
            background-color: initial;
          }

          .cm-bracket {
            color: grey;
          }

          .cm-attribute {
            color: #6cf3f3;
          }

          .cm-string {
            color: #f5a021;
          }
        }
      }
    }
  }

  &__sample-div {
    background-color: #eee;
    height: 150px;
    position: relative;
    width: 100%;
  }
}
